@import '../../component/Components.scss';

.main_content{
    max-width: 1110px;
    width: 90%;
    @extend .d_flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:80px auto 0 auto;
    .post_container{
       width:calc(70% - 15px);
    }
    .sidebar_container{
        width:calc(30% - 15px);
        .widget_container{
            + .widget_container{
                margin-top:35px;
            }
        }
    }
}
