$dmSans:'DM Sans', sans-serif;
$incon:'Inconsolata', monospace;
$popins:'Poppins', sans-serif;
$primary_color:#0032ff;
$secondary_color:#527ceb;
$success_color:#28a745;
$info_color:#17a2b8;
$warning_color:#ffc107;
$danger_color:#dc3545;
$black:#000;
$white:#fff;
$accent:#b1b1b3;
$fashion:#9932cc;
$food:#008b8b;
$body_text_color:#8b8787;
$btn_grey:#efefef;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.line_clamp{
    display: -webkit-box;    
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
//common
.d_flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
//typo
.heading_1{
    font-family:$popins;
    font-weight:600;
    font-size:80px;    
    @media(max-width:768px){
        font-size:44px;
    }
}
.heading_2{
    font-family:$popins;
    font-weight:600;
    font-size:45px;    
    @media(max-width:768px){
        font-size:30px;
    }
}
.heading_3{
    font-family:$popins;
    font-weight:600;
    font-size:35px;    
    @media(max-width:768px){
        font-size:27px;
    }
}
.heading_4{
    font-family:$popins;
    font-weight:600;
    font-size:25px;
    @media(max-width:768px){
        font-size:18px;
    }
}
.title_sm{
    font-family:$popins;
    font-size: 20px;
    font-weight: 600;    
    @media(max-width:768px){
        font-size:18px;
    }
}
.subtitle_sm{
    font-family:$incon;
    font-size: 16px;
    text-transform: capitalize;
    font-style: normal;    
    @media(max-width:768px){
        font-size:14px;
    }
}
.body_text{
    font-family:$incon;
    font-size: 16px;
    font-weight: 400;   
    line-height: 1.3; 
    @media(max-width:768px){
        font-size:14px;
    }
}
.label{
    font-family:$popins;
    font-size: 11px;
    font-weight: 400;   
    line-height: 1.3; 
    @media(max-width:768px){
        font-size:10px;
    }
}



