@import "../Components.scss";
.signup{
    height:calc(100vh - 225px); 
    .container{
        @extend .d_flex;
        width: 100%;
        height: 100%;
    }
    .signup-content{
        max-width:900px;
        background: #fff;
        box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.05);
        border-radius: 20px;
        margin:0 auto;
        padding:4vw 0;
        align-items: flex-start;
        @extend .d_flex;
        .signup-form,
        .signup-image{
            width: 50%;
            overflow: hidden;
        }
        .signup-form{
            margin-left: 75px;
            margin-right: 75px;
            padding-left: 34px;
            .form-title{
                margin: 0;
                padding: 0;
                font-weight: 700;
                color: $black;
                font-size: 36px;
                margin-bottom: 33px;
            }
        }        
    }
}
.register-form {
    width: 100%;
    margin:0;
    .form-group {
        position: relative;
        margin-bottom: 25px;
        overflow: hidden;
        .label {
            @extend .d_flex;
            justify-content: flex-start;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $black;
            width:20px;
            height:30px;
            .fa{
                font-size:12px;
                color:rgba($black, .7);
            }
            &.label-agree-term {
                position: relative;
                top: 0%;
            }
        }
        .custome-input {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #999;
            padding: 6px 35px 6px 22px;
            outline: none;
            appearance: unset !important;
            &::placeholder{
                color: #999;
            }
            &:focus{
                outline: none;
                box-shadow: none !important;
                border-bottom: 1px solid #222;
                &::placeholder{
                    color: #222;
                }
            }
        } 
        &.form-button{
            position: relative;
            margin-bottom: 25px;
            overflow: hidden;
            .form-submit{
                display: inline-block;
                background:$fashion;
                color: #fff;
                border: none;
                width: auto;
                padding: 15px 39px;
                border-radius: 5px;
                margin-top: 25px;
                cursor: pointer;
            }
        }       
    }
}

.signup-image{
    margin: 0 55px 0 55px;
    figure {        
        text-align: center;
    }
    .signup-image-link {
        margin-top:1vw;
        font-size: 14px;
        color: #222;
        display: block;
        text-align: center;
    }
}

.social-login{
    @extend .d_flex;
    width:100%;
    justify-content: flex-start;
    align-self: flex-end;
    .social-label{
        @extend .label;
    }
    .socials{
        @extend .d_flex;
        margin-left:10px;
        a{
            @extend .d_flex;
            width:20px;
            height:20px;
            text-decoration: none;
            font-size:8px;
            border-radius: 4px;
            &.google{
                background-color:#e72734;
                color:$white;
            }  
            &.facebook{
                background-color:#3b5998;
                color:$white;
            }  
            &.github{
                background-color:#000;
                color:$white;
            }  
            +a{
                margin-left:8px;
            }          
        }
    }
}

